In [ ]:
# List of High Schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for school in high_schools:
    print(school)
    
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type": "District"}, {"High School": "Figueroa", "Type": "District"}, {"High School": "Wilson", "Type": "Charter"}, {"High School": "Wright", "Type": "Charter"}]

for type in high_school_types:
    print(type)

In [7]:
# Add the Pandas dependency
import pandas as pd

In [8]:
# List of High Schools.
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson high School", "Cabrera high School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [9]:
#create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

for school_series in high_schools:
    print(school_series)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson high School
Cabrera high School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [12]:
# S Dictionary of High Schools
high_school_dicts = [{"School ID":0, "school_name": "Huang High School", "type": "District"}, {"School ID":1, "school_name": "Figueroa High School", "type": "District"}, {"School ID":2, "school_name": "Shelton High School", "type": "Charter"}, {"School ID":3, "school_name": "Hernandez High School", "type": "District"},{"School ID":4, "school_name": "Griffin High School", "type": "Charter"}, {"School ID":5, "school_name": "Wilson High School", "type": "Charter"}, {"School ID":6, "school_name": "Cabrera High School", "type": "Charter"}, {"School ID":7, "school_name": "Bailey High School", "type": "District"}, {"School ID":8, "school_name": "Holden High School", "type": "Charter"}, {"School ID":9, "school_name": "Pena High School", "type": "Charter"}, {"School ID":10, "school_name": "Wright High School", "type": "Charter"}, {"School ID":11, "school_name": "Rodriguez High School", "type": "District"}, {"School ID":12, "school_name": "Johnson High School", "type": "District"}, {"School ID":13, "school_name": "Ford High School", "type": "District"}, {"School ID":14, "school_name": "Thomas High School", "type": "Charter"}]

In [13]:
school_df = pd.DataFrame(high_school_dicts)
school_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [22]:
# Three separate lists of information on high schools.
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueros High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [23]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame
schools_df

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueros High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [24]:
#crfeate a dictionary of information on High Schools.
high_schools_dict = {'School ID': school_id, 'school_name': school_name, 'type':type_of_school}

#Create DataFrame from Dictionary
schools_df = pd.DataFrame(high_schools_dict)

#Print the DataFrame
schools_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueros High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [25]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [26]:
school_df.index

RangeIndex(start=0, stop=15, step=1)

In [27]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter'],
       [5, 'Wilson High School', 'Charter'],
       [6, 'Cabrera High School', 'Charter'],
       [7, 'Bailey High School', 'District'],
       [8, 'Holden High School', 'Charter'],
       [9, 'Pena High School', 'Charter'],
       [10, 'Wright High School', 'Charter'],
       [11, 'Rodriguez High School', 'District'],
       [12, 'Johnson High School', 'District'],
       [13, 'Ford High School', 'District'],
       [14, 'Thomas High School', 'Charter']], dtype=object)